body {
  background-image: url(../public/img/wallpaper.jpg);
  padding-top: 5%;
}
.header {
  background: rgba(234,234,234, 0.8);
  padding: 4% 0;
}
.title, .caption {
  font-family: "Noto Serif";
  font-weight: 800;
  font-size: clamp(1.8rem,4vw,3rem);
  line-height: 40px;
  color: #9399fb;
  text-transform: uppercase;
}
.title{
  margin-bottom: 0;
}
.caption{
  font-size: clamp(1.7rem,4vw,3rem);
  color: #6C937E;
  font-weight: 400;
}
input{
  background: rgba(248, 248, 248, 0.9) !important;
  border:2px solid rgb(195, 195, 195)!important;
  border-radius: 10px !important;
  padding: .6em .7em .8em !important;
}
.row{
  align-items: center !important;
}
.ui.grid>.row>[class*="five wide"].column{
  width: 85% !important;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}
.left-1{
  left: -1em;
  background: none !important;
  border: none !important;
}
.ui.grid>.row>[class*="one wide"].column{
  padding-left: 1em;
}
.ui.green.button, .ui.green.buttons .button {
  background-color: #0D9924;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
/* TODO */
.ui.grid>.row{
  padding: .5rem 0;
}
.row{
  background-color: rgb(213, 215, 249);
  border: 3px solid #C7A9F9;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.flex-task{
    word-wrap: break-word;
}
.ui.header{
  font-size: 1.5rem !important;
  background: none !important;
  margin: 1% 0;
}
/* MODAL */
.btn-modal{
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 3%;
  right: 2%;
  background: #C5EBFE;
  border: 3px solid #62AEF3;
  border-radius: 100%;
}
.modal-dialog{
  max-width: 700px !important;
}
.modal-content{
  border: none;
  background-color: #D9D9D9 !important;
}
.close{
  position: absolute;
  right: 5%;
  border: none;
}
.modal-header{
  display: flex;
  justify-content: center !important;
  border: none !important;
}
.modal-header .btn-filter{
  margin: 2%;
  padding: 2% 3%;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
  background-color: #0D9924;
}
.btn-filter:first-child{
  background-color: #D24646;
}
@media (max-width: 768px){
  .ui.header{
    width:400px !important;
  }
}
@media (max-width: 425px){
  .ui.header{
    width: 200px !important;
  }
  .ui.grid>.row>[class*="five wide"].column{
    width: 100% !important;
  }
  .ui.grid>.row>[class*="one wide"].column{
    padding-left: 0;
    margin-top: 10px;
    left: -10px;
  }
  .left-1{
    left: 0;
  }
}
@media (max-width: 375px){
  .ui.container{
    margin: 0 !important;
    padding: 0 !important;
  }
  .ui.header{
    font-size: 1.2rem !important;
    width: 190px;
  }
  .btn-modal{
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 320px){
  .ui.header{
    width: 150px !important;
  }
}